@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Bricolage Grotesque', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  
  --color-brand: #ccff00;
  --color-brand-dim: rgba(204, 255, 0, 0.2);
  --color-surface: #121212;
  --color-surface-dim: #0a0a0a;
  --color-border: #262626;
  --color-warning: #ff4500;
}

@layer utilities {
  .bg-dot-matrix {
    background-image: radial-gradient(var(--color-border) 1px, transparent 1px);
    background-size: 24px 24px;
  }
  
  .text-glow {
    text-shadow: 0 0 10px var(--color-brand-dim), 0 0 20px var(--color-brand-dim);
  }
  
  .border-glow {
    box-shadow: 0 0 10px var(--color-brand-dim) inset, 0 0 10px var(--color-brand-dim);
  }
}

html {
  scroll-behavior: smooth;
}
